body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    max-width: 960px;
    font-size: 18px;  
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
}

header {
    padding: 20px;
    margin-top: 20px;
    color: #777;
    background: #ebebeb;
}

nav {
    padding: 20px;
    margin-top: 20px;
    color: #777;
    background: #ebebeb;
}

section {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
}

aside {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 272px;
    color: #777;
    background: #ebebeb;
}

article {
    padding: 20px;
    margin-top: 20px;
    color: #ebebeb;
    background: #777;
    max-width: 495px;
}

footer {
    clear: both;
    padding: 20px;
    margin-top: 20px;
    color: #777;
    background: #ebebeb;
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 40%;
}